// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Icons
@import '~/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~/@fortawesome/fontawesome-free/scss/solid';

// Datatable
@import '~/datatables.net-bs5/css/dataTables.bootstrap5.min';

// Vue select
@import 'vue-select/dist/vue-select.css';

body {
	background-color: rgb(233, 233, 233) !important;
}

//Contenedor de categorias y productos
.card-size {
	max-width: 300px;
}
.card-img-top {
	object-fit: cover;
	height: 200px;
}
.container {
	padding: 0 15px;
}
.card {
	margin: 10px 0;
}
.card-footer {
	background: #fff;
}
//contenedor del "cargador"
.spinner-border {
	width: 3rem;
	height: 3rem;
  }
